        :root {
            --transitions: .5s;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        }



        /* p {
            color: white;
            font-size: 1.6vw;
        } */


        a {
            text-decoration: none;
            cursor: pointer;
        }

        .entete {
            position: -webkit-sticky;
            position: sticky;
            height: 60px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: #297373;
            box-shadow: 0 5px 10px;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            padding-top: 10px;
            margin: 0 -8px;
            margin-top: -10px;
        }

        .entete h2 {
            color: white;
            margin: 0;
        }

        .entete .CV {
            color: white;
            margin: 0;
            cursor: pointer;
            transition: .2s;

        }

        .entete .CV:hover {
            color: #A1D2CE;
            transition: .2s;

        }

        .projets {
            margin-left: -8px;
            margin-right: -8px;
            margin-top: 10px;
            background-color: #424242;
            /* box-shadow: 0px 10px 20px; */
            position: static;


            border-radius: 5px;
            overflow-x: scroll;
            overflow-y: hidden;
            margin: auto;

            display: grid;
            grid-template-columns: auto auto auto;
            width: 100%;

        }



        .projet {
            margin: 5%;

            box-shadow: 0px 0px 0px black;
            text-align: center;
            display: inline-block;
            border-radius: 10px;

            white-space: normal;
            position: relative;
            transition: var(--transitions);


        }

        .projet:hover {
            box-shadow: 0px 10px 20px black;
            transition: var(--transitions);

        }

        .projet:hover img {
            opacity: 30%;
            transition: var(--transitions);

        }

        .projet:hover .description {
            opacity: 100%;
            transition: var(--transitions);


        }


        .projet img {
            /* position: absolute; */
            width: 100%;
            aspect-ratio: 1 / 1;
            overflow: hidden;
            border-radius: inherit;
            opacity: 1;
            transition: var(--transitions);
            object-fit: cover;
            width: 100%;
            margin: 0;
        }

        .description {
            position: absolute;
            width: 100%;
            height: 90%;
            /* transform: translateY(-100%); */
            top: 50%;
            left: 50%;

            transform: translate(-50%, -60%);

            opacity: 0%;
            transition: var(--transitions);
            text-shadow: 5px 5px 5px black;
        }


        .description h3 {
            color: white;
            font-size: 2vw;
        }

        .description p {
            color: white;
            font-size: 1.6vw;
            word-wrap: break-word;
            width: 100%;

        }


        .languages .langue {
            display: inline-block;
            background-color: #CF5C36;
            color: white;
            margin: 8px;
            padding: 8px;
            border-radius: 5px;
            font-size: 1vw;
            width: 10vw;

            transition: var(--transitions);
            opacity: 1;
            z-index: 2;
        }

        .rotation {
            display: inline-block;
            /* background-color: black; */

        }

        .rotation:hover .langue {
            transform: rotateY(180deg);
            transition: var(--transitions);
            opacity: 0;
        }

        .rotation:hover .force {
            transition: var(--transitions);
            transform: rotateY(0deg) translateY(-155%);
            opacity: 1;
        }


        .force {
            transform: rotateY(-180deg) translateY(-155%);
            position: absolute;
            opacity: 0;
            transition: var(--transitions);
            background-color: #CF5C36;
            color: white;
            margin: 8px;
            padding: 8px;
            border-radius: 5px;
            font-size: 1vw;
            width: 10vw;
        }

        .coordonnees {

            background-color: #297373;
            margin: 0 -8px;
            padding: 10px;
        }

        .coordonnees p {
            color: white;
        }

        @media (min-width: 800px) {
            .projets {
                max-width: 800px;
            }

            .description h3 {

                font-size: 20px;
            }

            .description p {
                font-size: 14px;

            }
        }

        @media (max-width: 500px) {
            .projets {
                grid-template-columns: auto;


            }

            .description h3 {

                font-size: 6vw;
            }

            .description p {
                font-size: 4.8vw;

            }

            .languages .langue {

                width: 70px;
                font-size: 10px;

            }

            .languages .force {

                width: 70px;
                font-size: 10px;

            }
            .projet {
                box-shadow: 0px 10px 20px black;
                transition: var(--transitions);
    
            }
    
            .projet img {
                opacity: 30%;
                transition: var(--transitions);
    
            }
    
            .projet .description {
                opacity: 100%;
                transition: var(--transitions);
    
    
            }

        }